* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-page {
  background-image: url("./images/bg-mobile.svg");
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

@media (min-width: 600px) {
  .landing-page {
    background-image: url("./images/bg-desktop.svg");
  }
}